# https://airflow.apache.org/docs/apache-airflow-providers/packages-ref.html#providers-packages-reference
apache-airflow-providers-microsoft-mssql==4.2.2
apache-airflow-providers-samba==4.9.2
apache-airflow-providers-odbc==4.9.2
apache-airflow-providers-common-sql==1.27.0
apache-airflow-providers-telegram==4.7.2
apache-airflow-providers-hashicorp==4.1.1
psycopg2-binary==2.9.10
